.meter { 
    height: 20px;  
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  }
.invinsible {
    position: relative;
    height: 50px;
}
.invinsible1 {
    position: relative;
    height: 0px;
}
.container{
    padding: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}
.card{
    padding: 40px
}
.container:hover .card {
    filter: blur(3px);
    opacity: .5;
    transform: scale(.90);
    box-shadow: none;
}
.container:hover .card:hover{
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
    color: white;
}

